# <a id='toc1_'></a>[Deriving Variables, If-Then Statements & For-Loops](#toc0_)

**Table of contents**<a id='toc0_'></a>    
- [Deriving Variables, If-Then Statements & For-Loops](#toc1_)    
  - [I. Deriving Variables](#toc1_1_)    
    - [I.1. Create column 'price_label'](#toc1_1_1_)    
  - [II. If-Then Statements & For-Loops](#toc1_2_)    
    - [II.2. Create column 'busiest_day'](#toc1_2_1_)    
    - [II.3. Create column 'busiest_days'](#toc1_2_2_)    
    - [II.4. Create column 'busiest_period_of_day'](#toc1_2_3_)    
  - [III. Data Export](#toc1_3_)    

<!-- vscode-jupyter-toc-config
	numbering=false
	anchor=true
	flat=false
	minLevel=1
	maxLevel=6
	/vscode-jupyter-toc-config -->
<!-- THIS CELL WILL BE REPLACED ON TOC UPDATE. DO NOT WRITE YOUR TEXT IN THIS CELL -->

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# create a path to the directory
path = r'C:\Users\Ansgar.S\Uyen\OneDrive\Documents\Data Immersion\Achievement IV - Python Fundamentals for Data Analysts\02-2023 Instacart Basket Analysis'

# import the 'orders_products_merged.pkl' dataset
df_ords_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

## <a id='toc1_1_'></a>[I. Deriving Variables](#toc0_)

### <a id='toc1_1_1_'></a>[I.1. Create column 'price_label'](#toc0_)

In [3]:
# check output of df_ords_merged
print('Number of rows and columns of df_ords_merged:')
df_ords_merged.shape

Number of rows and columns of df_ords_merged:

(32404859, 14)

In [4]:
print('Output of df_ords_merged:')
df_ords_merged.head(3)

Output of df_ords_merged:

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,is_new_customer,add_to_cart_order,reordered
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,False,5,0
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,False,1,1
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,False,20,0

In [5]:
# create column 'price_range' to determine the products' price range
df_ords_merged.loc[df_ords_merged['prices'] > 15, 'price_range'] = 'High-range product'
df_ords_merged.loc[(df_ords_merged['prices'] <= 15) & (df_ords_merged['prices'] > 5), 'price_range'] = 'Mid-range product'
df_ords_merged.loc[df_ords_merged['prices'] <= 5, 'price_range'] = 'Low-range product'

In [6]:
# check the output of df_ords_merged
print('Output of df_ords_merged:')
df_ords_merged.head(5)

Output of df_ords_merged:

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,is_new_customer,add_to_cart_order,reordered,price_range
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,False,5,0,Mid-range product
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,False,1,1,Mid-range product
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,False,20,0,Mid-range product
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,True,10,0,Mid-range product
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,False,11,1,Mid-range product

In [7]:
# check the dimensions and output of df_ords_merged
print('Number of rows and columns of df_ords_merged:')
df_ords_merged.shape

Number of rows and columns of df_ords_merged:

(32404859, 15)

In [8]:
print('Values in the price_range column:')
df_ords_merged['price_range'].value_counts()

Values in the price_range column:

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range, dtype: int64

## <a id='toc1_2_'></a>[II. If-Then Statements & For-Loops](#toc0_)

### <a id='toc1_2_1_'></a>[II.2. Create column 'busiest_day'](#toc0_)

In [9]:
# get the frequency of the values in column 'orders_day_of_week'
print('Frequency of values in column orders_day_of_week:')
df_ords_merged['orders_day_of_week'].value_counts()

Frequency of values in column orders_day_of_week:

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [10]:
# create a for-loop that append to list 'result'  the busyness of the days based on values in column 'orders_day_of_week' 
result = []

for value in df_ords_merged['orders_day_of_week']:
  if value == 0:
    result.append('Busiest day')
  elif value == 4:
    result.append('Least busy')
  else:
    result.append('Regularly busy')

In [11]:
# create column 'busiest_day' 
df_ords_merged['busiest_day'] = result

In [12]:
# get the frequency of the values in column 'busiest_day' 
print('Frequency of values in column busiest_day:')
df_ords_merged['busiest_day'].value_counts()

Frequency of values in column busiest_day:

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

### <a id='toc1_2_2_'></a>[II.3. Create column 'busiest_days'](#toc0_)

In [13]:
# get the frequency of the values in column 'orders_day_of_week' 
print('Frequency of values in column orders_day_of_week:')
df_ords_merged['orders_day_of_week'].value_counts()

Frequency of values in column orders_day_of_week:

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

**Observation**: The two busiest days are 0 (Saturday) and 1 (Sunday). The two slowest days are 4 (Wednesday) and 3 (Tuesday).

In [14]:
# create a for-loop that append to list 'days' the busyness of the days based on values in column 'orders_day_of_week'
days = []

for day in df_ords_merged['orders_day_of_week']:
  if day == 0 or day == 1:
    days.append('Busiest days')
  elif day == 4 or day == 3:
    days.append('Slowest days')
  else:
    days.append('Regular days')

In [15]:
# create column 'busiest_days'
df_ords_merged['busiest_days'] = days

In [16]:
# get the frequency of the values in column 'busiest_days' 
print('Frequency of values in column busiest_days:')
df_ords_merged['busiest_days'].value_counts()

Frequency of values in column busiest_days:

Regular days    12916111
Busiest days    11864412
Slowest days     7624336
Name: busiest_days, dtype: int64

In [17]:
# check the output of columns 'orders_day_of_week' and 'busiest_days' for accuracy
print('Output of columns orders_day_of_week and busiest_days:')
df_ords_merged[['orders_day_of_week', 'busiest_days']].head(10)

Output of columns orders_day_of_week and busiest_days:

   orders_day_of_week  busiest_days
0                   6  Regular days
1                   6  Regular days
2                   0  Busiest days
3                   3  Slowest days
4                   4  Slowest days
5                   1  Busiest days
6                   2  Regular days
7                   3  Slowest days
8                   1  Busiest days
9                   1  Busiest days

### <a id='toc1_2_3_'></a>[II.4. Create column 'busiest_period_of_day'](#toc0_)

In [18]:
# get the frequency of the values in column 'order_hour_of_day'
print('Frequency of values in column order_hour_of_day:')
df_ords_merged['order_hour_of_day'].value_counts()

Frequency of values in column order_hour_of_day:

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

**Observation**: The 24 hours of the day can be split into three parts, with each part classified as having either:

 - 'Most orders' (hour 10, 11, 14, 15, 13, 12, 16, 9 - from 9am to 4pm)
 
 - 'Average orders' (hour 17, 8, 18, 19, 20, 7, 21, 22 - from 7am to 8am and from 5pm to 10pm)
 
 - 'Fewest orders' (hour 23, 6, 0, 1, 5, 2, 4, 3 - from 11pm to 6am).

In [19]:
# create a for-loop that append to list 'hours' the busyness of the hours based on values in column 'order_hour_of_day'
hours = []

for hour in df_ords_merged['order_hour_of_day']:
  if hour in [10, 11, 14, 15, 13, 12, 16, 9]:
    hours.append('Most orders')
  elif hour in [23, 6, 0, 1, 5, 2, 4, 3]:
    hours.append('Fewest orders')
  else:
    hours.append('Average orders')

In [20]:
# create column 'busiest_period_of_day'
df_ords_merged['busiest_period_of_day'] = hours

In [21]:
# check the output of columns 'order_hour_of_day' and the 'busiest_period_of_day' for accuracy
print('Output of columns order_hour_of_day and busiest_period_of_day:')
df_ords_merged[['order_hour_of_day', 'busiest_period_of_day']].head(10)

Output of columns order_hour_of_day and busiest_period_of_day:

   order_hour_of_day busiest_period_of_day
0                 11           Most orders
1                 17        Average orders
2                 21        Average orders
3                 13           Most orders
4                 17        Average orders
5                  7        Average orders
6                 14           Most orders
7                 10           Most orders
8                 20        Average orders
9                 12           Most orders

In [22]:
# get the frequency of the values in column 'busiest_period_of_day' 
print('Frequency of values in column busiest_period_of_day:')
df_ords_merged['busiest_period_of_day'].value_counts()

Frequency of values in column busiest_period_of_day:

Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: busiest_period_of_day, dtype: int64

## <a id='toc1_3_'></a>[III. Data Export](#toc0_)

In [ ]:
# export df_ords_merged in .pkl format
df_ords_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_2.pkl'))